@charset "UTF-8";
body {
	color: #5A0000;
	background: #fbfeba;
	font-family: sans-serif;
}
dd,dt {
	margin-left: 0;
}
dt {
	margin-top: 0.5em;
	font-weight: bold;
}
dd {
	margin-top: 1em;
}
label span, .fout {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 5px 5px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
}

label span:empty, .fout:empty {
	display: none;
}

label span {
	margin-left: 0.5em;
}

label {
	cursor: pointer;
}
input {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1.1em;
}
table {
	border: 1px solid gray;
	width: 100%;
}
tr:nth-child(odd) {
	background-color: #e6e6e6;
}
nav li {
	display: inline;
}
nav ul {
	padding: 0.4em 0;
}
#menu .hidden {
	display: none;
}
caption {
	font-size: 200%;
}